*{
    margin: 0;
    padding: 0;
}
/* table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}

table{
    width: 450px;
    height: 300px;
    background: white;
    color: royalblue;
    box-shadow: 0 0 2px black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: gainsboro;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
} */
.template>div{
    width: 700px;
}
.template>div:nth-child(1){
    background: royalblue;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
}
.template>div:nth-child(2){
    background: white;
    height: 250px;
}
.template>div:nth-child(3){
    background: crimson;
    height: 20px;
}
.box{
    height: 20px;
    width: 100px;
    background: gainsboro;
}
.box>label,.box1>label{
    margin-left: 10px;
}
.box1{
    height: 20px;
    width: 150px;
    background: gainsboro;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.right{
    display: grid;
    grid-template-columns: 1fr 1fr; 
}