*{
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
    font-family: 'Vollkorn', serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: rgb(65, 41, 197);
}
body::before{
    content: "";
    position:fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.4;
    background-image: url('BTT.svg');
    background-repeat: no-repeat;
    background-size: 1000px;
    z-index: -1;
}
.container>div{
    margin: 40px;
    z-index: 1;
}
.container div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    transition: 1s;
    font-size: 20pt;
}
.logout-btn{
    position: absolute;
    top: 3%;
    left: 90%;
}
#logout-btn {
    padding: 10px;
    background: none;
    border: none;
    position: fixed;
    font-size: larger;
    color: rgb(65, 41, 197);
}
#logout-btn:hover {
    cursor: pointer;
    color: black;
}
#normal-train,#superfast-train,#express-train{
    cursor: pointer;
    width: 400px;
    color: #fff;
    height: 400px;
}
#normal-train{
    background-color: rgb(65, 41, 197);
    box-shadow: 0 0 10px royalblue;
}
#superfast-train{
    background-color: orangered;
    box-shadow: 0 0 10px orange;
}
#express-train{
    background-color: gold;
    box-shadow: 0 0 10px chocolate;
}

/* For Flip Refered From W3Schools */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: white;
    width: 400px;
    height: 400px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; 
    /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden; 
    /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
.flip-card-front{
    width: 400px;
    height: 400px;
}
  
  /* Style the back side */
  .flip-card-back {
    background-color: grey;
    width: 400px;
    height: 400px;
    cursor: pointer;
    color: white;
    transform: rotateY(180deg);
    font-family: 'Times New Roman';
  }

  @media screen and (max-width: 768px) {
      
    .logout-btn{
        position: absolute;
        top: 0;
        right: 50%;
        left: 65%;
    }
    .container{
        margin-top: 40px;
    }

    .flip-card-back>label{
        font-size: medium;
    }
    .flip-card-back>h1{
        font-size: larger;
    }

  }